.wrapper {
  position: relative;
  display: grid;
  color: #444;
  margin: 24px 0 24px 0;
}

.cell {
  width: 24px;
  height: 24px;
  background: blue;
  cursor: pointer;
  border-radius: 3;
}

.activeCell {    
  /* background: red !important; */
}

.hoverCell {
  background: limegreen;
}